@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #111111;
  overflow-x: hidden;
}

/* Make the scrollbar thin and Ferrari Red */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #D40000;
  border-radius: 10px;
}

/* This ensures your HTML sections don't block the 3D interactions */
.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}