@import "tailwindcss";

:root {
  color-scheme: dark !important;
}

/* This is the absolute first thing the browser paints */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #111111 !important;
  color: #ffffff;
  overflow-x: hidden;
}

/* Ensures the Canvas doesn't start white or black, but exactly #111111 */
canvas {
  background-color: #111111 !important;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #111111;
}
::-webkit-scrollbar-thumb {
  background: #D40000;
  border-radius: 10px;
}
